@model ExpedienteClinicoMSF.Models.CodigosCie10

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CodigosCie10</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cie10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cie10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomEnfermedad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomEnfermedad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CodigoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
