@model IEnumerable<ExpedienteClinicoMSF.Models.Especialidades>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionEsp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsQuirurgica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsMedica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionEsp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsQuirurgica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsMedica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EspecialidadId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EspecialidadId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EspecialidadId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
