@model ExpedienteClinicoMSF.Models.Cirugias

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cirugias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cirugia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cirugia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Especialidad.Especialidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CirugiaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
