@model ExpedienteClinicoMSF.Models.Expedientes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expedientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Expediente No.
        </dt>
        <dd>
            @ViewData["nume"]
        </dd>
        <dt>
            Fecha de Registro
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt>
            Nombre Paciente
        </dt>
        <dd>
            @ViewData["pnombre"] @ViewData["snombre"] @ViewData["papellido"] @ViewData["sapellido"] @ViewData["cnombre"]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @ViewData["ciudad"] No. @ViewData["casa"] @ViewData["calle"], @ViewData["sregion"], @ViewData["region"], @ViewData["pais"]
        </dd>
        <dt>
            Estado Civil
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoCivil.EstadoCivil)
        </dd>
        <dt>
            Genero
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genero.Genero)
        </dd>
        <dt>
            Telefono
        </dt>
        <dd>
            @ViewData["tel"]
        </dd>
        <h3>Datos Responsable</h3>
        <dt>
            Nombre
        </dt>
        <dd>
            @ViewData["pnombrer"] @ViewData["snombrer"] @ViewData["papellidor"] @ViewData["sapellidor"] @ViewData["cnombrer"]
        </dd>
        <dt>
            Telefono
        </dt>
        <dd>
            @ViewData["telr"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpedienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
