@model IEnumerable<ExpedienteClinicoMSF.Models.Examenes>

@{
    ViewData["Title"] = "Exámenes";
}

<h2>Exámenes</h2>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Examen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionExamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Examen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionExamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Categoria1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExamenId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ExamenId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ExamenId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
