@model ExpedienteClinicoMSF.Models.SignosVitales

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SignosVitales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pulso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pulso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrecRespiratoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrecRespiratoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PresionArterial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PresionArterial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estatura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estatura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SignoVitalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
