@model IEnumerable<ExpedienteClinicoMSF.Models.ExamenesResultados>

@{
    ViewData["Title"] = "Resultados";
}

<h2>Resultados de Exámenes</h2>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resultado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Examen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resultado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Examen.Examen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExamenResultadoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ExamenResultadoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ExamenResultadoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
