@model ExpedienteClinicoMSF.Models.Menus

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Menus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenMenu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenMenu.Direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MenuId">Modificar</a> |
    <a asp-action="Index">Regresar</a>
</div>
