@model ExpedienteClinicoMSF.Models.Roles

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Roles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionRol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionRol)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RolesMenus)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Opción</th>
                </tr>
                @foreach (var item in Model.RolesMenus)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Menu.Opcion)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RolesPermisos)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Permiso Asignado</th>
                </tr>
                @foreach (var item in Model.RolesPermisos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Permiso.Permiso)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>


    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RolId">Modificar</a> |
    <a asp-action="Index">Regresar</a>
</div>
