@model IEnumerable<ExpedienteClinicoMSF.Models.Roles>

@{
    ViewData["Title"] = "Index";
}

<h2>Roles</h2>

<p>
    <a asp-action="Create">Agregar nuevo rol</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar: <input type="text" name="cadenaBusqueda" value="@ViewData["filtro"]" />
                    <input type="submit" value="Buscar" class="btn btn-default"/>
                    <a asp-action="Index">Todos los registros</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ordenarRol"]">@Html.DisplayNameFor(model => model.Rol)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ordenarDescripcion"]">@Html.DisplayNameFor(model => model.DescripcionRol)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RolId"><i class="glyphicon glyphicon-pencil"></i></a> |
                @if (User.IsInRole("Administrador")) {<a asp-action="Details" asp-route-id="@item.RolId"><i class="glyphicon glyphicon-eye-open"></i></a>} |
                <a asp-action="Delete" asp-route-id="@item.RolId"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
