@model IEnumerable<ExpedienteClinicoMSF.Models.Roles>

@{
    ViewData["Title"] = "Index";
}

<h2>Roles</h2>

<p>
    <a asp-action="Create">Agregar nuevo rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionRol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RolId"><i class="glyphicon glyphicon-pencil"></i></a> |
                <a asp-action="Details" asp-route-id="@item.RolId"><i class="glyphicon glyphicon-eye-open"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.RolId"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
