@model ExpedienteClinicoMSF.Models.Tratamientos

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tratamientos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Frecuencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Frecuencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Durante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Durante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consulta.Sintomas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TratamientoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
